/* Conteneur principal */
.menu-container {

  position: fixed;
  top: 50px;
  right: 50%;
  z-index: 900;
}

/* Bouton principal */
.open-menu {
  background-color: #2196f3;

  color: white;
}

.menu-container button mat-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}


/* Cible le menu principal par son ID (#mainMenu) */
#mainMenu.mat-menu-panel {
  background: white !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

/* Cible tous les items de menu */
#mainMenu .mat-menu-item {
  background: white !important;
  color: #1a1a1a !important;
}

/* Cible spécifiquement les boutons avec sous-menu */
#mainMenu .mat-menu-item[matMenuTriggerFor] {
  background: white !important;
}

/* Effet de survol */
#mainMenu .mat-menu-item:hover {
  background: #f5f5f5 !important;
}

p {
  font-size: 0.9em;
  font-style: italic;
  /* La couleur par défaut est conservée, ou vous pouvez la définir ici si besoin */
}